@import url(variables.css);


*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
}

.header{
    color: var(--white);
    width: 100%;
}


.header__container{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: var(--dark-blue);
    width: 100%;
    z-index: 100;
}

.header__list-items{
    display: flex;
    list-style: none;
}

.header__list-item{
    text-decoration: none;
    padding: 0 1rem;
}


.link--style{
    text-decoration: none;
    color: var(--white);
}

.main{
    width: 100%;
}

.main__cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
    gap: 20px;
}

.main__cards__row{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main__card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%;
}

.main__card__image{
    width: 100%;
    height: 75%;
}

.booking-button{
    display: inline-block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
}

.main__card > h3{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 10px 0;
}

.main__card > ul{
    padding: 10px 0;
}


footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contacts > h2{
    padding-bottom: 15px;
}

@media (max-width: 768px){
    .header__list-items{
        flex-direction: column;
        gap: 10px;
    }

    .main__cards{
        align-items: center;
    }

    .main__card{
        width: 100%;
    }

    .main__cards__row{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }
}