@import url(variables.css);

.booking-modal-container{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    align-items: center;
    justify-content: space-evenly;
}

.booking-modal {
    position: relative;
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 400px;
    height: 450px;
}

.booking-modal__close{
    position: absolute;
    right: 20px;
}

.booking-modal h2 {
    color: var(--dark-blue); 
    text-align: center; 
    margin-bottom: 20px; 
}

.booking-modal label {
    display: block; 
    margin: 10px 0 5px;
}

.booking-modal input[type="date"],
.booking-modal select {
    width: 95%; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-bottom: 15px;
}

.submit-button {
    background-color: var(--dark-blue); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
    cursor: pointer; 
    width: 100%; 
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .booking-modal {
        padding: 15px; 
    }

    .booking-modal h2 {
        font-size: 1.5em; 
    }

    .booking-modal label {
        font-size: 0.9em; 
    }

    .booking-modal input[type="date"],
    .booking-modal select {
        padding: 8px;
    }

    .submit-button {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .booking-modal {
        max-width: 90%;
    }

    .booking-modal h2 {
        font-size: 1.3em;
    }
}
