@import url(variables.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: #001F3F;
    color: white;
    padding: 1rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #001F3F;
    width: 100%;
    height: 600px;
    padding: 10px 20px;
}

.hero-image{
    display: flex;
    width: 60%;
    height: 100%;
    gap: 20px;
}

.hero-image > img{
    width: 100%;
}

.hero-button{
    height: 50px;
    width: 30px;
    font-size: 30px;
    margin: auto 0;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 10px;
    color: var(--white);
}

.about{
    display: flex;
    justify-content: space-around;
}

.about-slider-container{
    display: flex;
    width: 40%;
    justify-content: center;
    gap: 20px;
}

.about-slider{
    height: 600px;
    width: 55%;
}

.text-about-us-container{
    width: 20%;
    text-align: justify;
}

.about-slider-container-stars{
    width: 100%;
}

main {
    padding: 20px;
    border: 1px solid transparent;
}

section{
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px 0;
}

.hero-title{
    width: 40%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #001F3F; /* Тёмно-синий */
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.hero-button:hover{
    background-color: var(--dark-blue-hover);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        display: flex;
        flex-direction: column;
        padding: 30px 10px; 
    }

    .cta-button {
        padding: 8px 15px; 
    }

    section img {
        max-height: 200px;
    }

    footer{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;   
    }

    nav ul {
        display: flex;      
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;   
    }

    .hero h2 {
        font-size: 1.5em;  
    }

    .hero p {
        font-size: 1em;  
    }
}
